<div class="container">
    <h3>ようこそTadano-Chatへ！</h3>
    <p>絵文字も写真も送れないですが、無料のチャットサイトです。</p>
    <p>下の一覧から入りたいチャットルームを選んで楽しくチャットしてください！</p>
    <p>パスワードを設定することもできます。</p>
    <%= link_to  "チャットルーム一覧", rooms_path %>
</div>