// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new-room{
    border: double 5px black;
}

.room-submit{
    color: white;
    background-color: #25A69A;
    border: none;
}

.chat-room{
    .chat-texts{
        overflow: scroll;
        padding-bottom: 10px;
    }


    .chat-form{
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            padding-bottom: 10px;
            z-index: 2;
            background-color: #EE6E72;
            color: white;

        .text-label{
            color: white;
        }
        .rooms-link{
            color: white;
            margin-right:5% ;
        }
        .chat-text-field{
            height: 20px;
        }
        .room-name{
            color: white;
            margin-right:5% ;
        }
    }
}

